* {
  margin: 0; /* Remove default margin from all elements */
  padding: 0; /* Remove default padding from all elements */
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 375px;
  font-family: Arial, sans-serif;
  font-weight: 300;
}

header {
  background-color: #6A8EAE; /* Blue background for the header */
  color: white; /* Text color for better contrast */
  padding: 10px; /* Padding for header */
}

header h1 {
  font-size: 30px; /* Size of the title */
  margin-bottom: 5px; /* Space between title and nav */
}

nav {
  display: flex;
  justify-content: center; /* Center the navigation */
}

nav ul {
  display: flex; /* Use flexbox for the menu */
  list-style: none; /* Remove bullet points */
}

nav li {
  margin: 0 15px; /* Space between menu items */
}

nav a {
  color: white; /* Text color for links */
  text-decoration: none; /* Remove underline */
  padding: 5px 12px; /* Padding for the links */
  border-radius: 5px; /* Rounded corners */
  transition: background-color 0.3s; /* Smooth background change */
  font-size: 20px;
}

nav a:hover {
  background-color: rgba(255, 255, 255, 0.2); /* Change on hover */
}

nav a.active {
  background-color: rgba(255, 255, 255, 0.3); /* Keep the hover effect */
  padding: 8px 12px; /* Same padding as hover state */
  border-radius: 5px;
}

main {
  flex: 1; /* Main content takes remaining space */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

footer {
  flex: 0 30px;
}

@media (max-height: 600px) {
  header {
      display: none; /* Optionally hide header on small screens */
  }
  footer {
      display: none;
  }
  main {
      flex: 1 100vh;
  }
}
