* {
    margin: 0; /* Remove default margin from all elements */
    padding: 0; /* Remove default padding from all elements */
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    flex-direction: column;
    min-width: 375px;
    font-family: Arial, sans-serif;
    font-weight: 300;
  }
  
  header {
    background-color: #6A8EAE; /* Blue background for the header */
    color: white; /* Text color for better contrast */
    padding: 10px; /* Padding for header */
  }
  
  header h1 {
    font-size: 30px; /* Size of the title */
    margin-bottom: 5px; /* Space between title and nav */
  }
  
  nav {
    display: flex;
    justify-content: center; /* Center the navigation */
  }
  
  nav ul {
    display: flex; /* Use flexbox for the menu */
    list-style: none; /* Remove bullet points */
  }
  
  nav li {
    margin: 0 15px; /* Space between menu items */
  }
  
  nav a {
    color: white; /* Text color for links */
    text-decoration: none; /* Remove underline */
    padding: 5px 12px; /* Padding for the links */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s; /* Smooth background change */
    font-size: 20px;
  }
  
  nav a:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Change on hover */
  }

  nav a.active {
    background-color: rgba(255, 255, 255, 0.3); /* Keep the hover effect */
    padding: 8px 12px; /* Same padding as hover state */
    border-radius: 5px;
  }
  
  header {
    display: flex;
    flex-direction: column; /* Stack title and nav vertically */
    position: fixed; /* Keep the header fixed at the top */
    top: 0; /* Position it at the top */
    left: 0; /* Align to the left */
    right: 0; /* Stretch to the right */
    z-index: 1000; /* Ensure it appears above other content */
}
  
main {
    flex: 1; /* Main content takes remaining space */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 80px; 
    padding: 20px;
    background-color: #f7f9fc;
    width: 100%;
}

.last-entry{
  text-align: center;
  margin: 20px 0;
}

.amount{
  font-size: 36px;
  color: #4A4A4A;
}

.hours{
  font-size:20px;
  color:#333;
}

table{
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;

}

thead{
  background-color: #6A8EAE;
  color: white;
}

th, td{
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

tr:hover{
  background-color: rgba(106, 142, 174, 0.1);
}

tbody tr:last-child td{
  border-bottom: none;
}
  
  footer {
    flex: 0 30px;
  }
  
  @media (max-height: 600px) {
    header {
        display: none; /* Optionally hide header on small screens */
    }
    footer {
        display: none;
    }
    main {
        flex: 1 100vh;
    }
  }
  